In [1]:
import mysql.connector

In [2]:
db=mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="surabhi")

In [3]:
mc=db.cursor()

In [4]:
mc.execute("create database curalink")

DatabaseError: 1007 (HY000): Can't create database 'curalink'; database exists

In [ ]:
db=mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="surabhi",
    database="curalink")

In [5]:
mc=db.cursor()

In [6]:
mc.execute("""
CREATE TABLE IF NOT EXISTS users (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    email VARCHAR(100) UNIQUE NOT NULL,
    password VARCHAR(100) NOT NULL,
    role ENUM('doctor','patient','store') NOT NULL
)
""")

ProgrammingError: 1046 (3D000): No database selected

In [7]:
mc.execute("""
CREATE TABLE IF NOT EXISTS medicines (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    stock INT NOT NULL,
    expiry DATE NOT NULL
)
""")

ProgrammingError: 1046 (3D000): No database selected

In [8]:
mc.execute("""CREATE TABLE advice (
    id INT AUTO_INCREMENT PRIMARY KEY,
    doctor_id INT NOT NULL,
    patient_email VARCHAR(100) NOT NULL,
    advice TEXT NOT NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
)
""")

ProgrammingError: 1046 (3D000): No database selected

In [9]:
mc.execute("""CREATE TABLE purchases (
    id INT AUTO_INCREMENT PRIMARY KEY,
    patient_id INT NOT NULL,
    medicine_name VARCHAR(100) NOT NULL,
    quantity INT NOT NULL,
    store VARCHAR(100) NOT NULL,
    purchased_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
)
""")

ProgrammingError: 1046 (3D000): No database selected

In [10]:
mc.execute("""ALTER TABLE medicines ADD COLUMN store VARCHAR(255);
""")

ProgrammingError: 1046 (3D000): No database selected

In [11]:
mc.execute("""
CREATE TABLE IF NOT EXISTS patients (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    age INT NOT NULL,
    dob DATE NOT NULL,
    email VARCHAR(100) UNIQUE NOT NULL,
    phone_number VARCHAR(15) NOT NULL,
    password VARCHAR(100) NOT NULL
)
""")

ProgrammingError: 1046 (3D000): No database selected

In [12]:
mc.execute("""
CREATE TABLE IF NOT EXISTS doctors (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    email VARCHAR(100) UNIQUE NOT NULL,
    phone_number VARCHAR(15) NOT NULL,
    password VARCHAR(100) NOT NULL
)
""")

ProgrammingError: 1046 (3D000): No database selected

In [13]:
mc.execute("""
CREATE TABLE IF NOT EXISTS store (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    email VARCHAR(100) UNIQUE NOT NULL,
    password VARCHAR(100) NOT NULL
)
""")

ProgrammingError: 1046 (3D000): No database selected

In [14]:
mc.execute("""ALTER TABLE appointments ADD COLUMN meet_link VARCHAR(255) NULL;""")

ProgrammingError: 1046 (3D000): No database selected

In [15]:
mc.execute("""ALTER TABLE advice ADD COLUMN appointment_time DATETIME;""")

ProgrammingError: 1046 (3D000): No database selected

In [16]:
mc.execute("""
CREATE TABLE appointments (
    id INT AUTO_INCREMENT PRIMARY KEY,
    doctor_id INT NOT NULL,
    patient_id INT NOT NULL,
    appointment_date DATE NOT NULL,
    appointment_time TIME NOT NULL,
    symptoms TEXT,
    status ENUM('Pending', 'Accepted', 'Rejected') DEFAULT 'Pending',
    meet_link TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (doctor_id) REFERENCES doctors(id),
    FOREIGN KEY (patient_id) REFERENCES patients(id)
)
""")

ProgrammingError: 1046 (3D000): No database selected

In [17]:
mc.execute("""CREATE TABLE meetings (
    id INT AUTO_INCREMENT PRIMARY KEY,
    doctor_id INT NOT NULL,
    patient_id INT NOT NULL,
    patient_email VARCHAR(255) NOT NULL,
    meet_id VARCHAR(50) UNIQUE NOT NULL,
    meet_link TEXT NOT NULL,
    status ENUM('scheduled', 'active', 'completed', 'cancelled') DEFAULT 'scheduled',
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    started_at TIMESTAMP NULL,
    ended_at TIMESTAMP NULL,
    FOREIGN KEY (doctor_id) REFERENCES doctors(id),
    FOREIGN KEY (patient_id) REFERENCES patients(id)
)""")

ProgrammingError: 1046 (3D000): No database selected

In [18]:
mc.execute(""""UPDATE appointments SET status=%s, meet_link=%s WHERE id=%s", 
    ("Accepted", video_link, appointment_id))""")

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"UPDATE appointments SET status=%s, meet_link=%s WHERE id=%s",
    ("Accepted",' at line 1